<div class="home__container">
	<app-card
		gameCover="assets/man-cover.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 249,95"
	>
	</app-card>
	<app-card
		gameCover="assets/streetf-cover.png"
		gameLabel="DIGITAL"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 269,99"
	>
	</app-card>
	<app-card
		gameCover="assets/batman-cover.png"
		gameLabel="BEST OF YEAR"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 200,99"
		>
	</app-card>
	<app-card
		gameCover="assets/tour-cover.png"
		gameLabel="NEW"
		gameType="DIGITAL | PS4"
		gamePrice="R$ 349,99"
	>
	</app-card>
</div>

